numpy
# netCDF4
# pytest
# typing-extensions
scipy
matplotlib
scikit-image
pydot
graphviz
pydot_ng
keras_tuner
scikit-learn
librosa
pandas
jupyter
ipykernel
# PyWavelets
# scaleogram
# line_profiler
